/* dashboard.css */
.navbar-brand {
    font-weight: bold;
}

.nav-link {
    margin-right: 10px; /* Adjust spacing between nav items */
}


body {
    background-color: #f4f4f4;
}

.category-list {
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
}

.product {
    margin-bottom: 15px;
}

.product img {
    width: 100%;
}

.cart {
    background-color: #fff;
    padding: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

#categories-nav {
    display: flex;
    /* Enables Flexbox */
    flex-wrap: wrap;
    /* Allows items to wrap onto the next line */
    justify-content: space-evenly;
    /* Distributes space evenly between items */
    align-items: center;
    /* Vertically align items in the center */
    padding: 10px 0;
    /* Adds padding above and below the container */
}

.category {
    margin: 5px;
    /* Adds space around each category */
    padding: 8px 16px;
    /* Padding inside each category */
    background-color: #f4f4f4;
    /* Background color for categories */
    border-radius: 5px;
    /* Rounded corners for categories */
    cursor: pointer;
    /* Cursor pointer to indicate clickable items */
    white-space: nowrap;
    /* Prevents text from wrapping */
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
}

.product {
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(33.33% - 20px);
    /* Default for portrait mode */
}

@media screen and (orientation: landscape) {
    .product {
        flex: 1 1 calc(20% - 20px);
        /* Adjust for 5 products per row */
    }

    .product h5{
        font-size: 12px;
        /* Smaller font size for product name in landscape mode */
    }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .product {
        margin: 5px;
        /* Reduced margin */
        padding: 5px;
        /* Reduced padding */
        border-radius: 2px;
        /* Smaller border-radius */
    }

    .product h5 {
        font-size: 10px;
        /* Even smaller font size for mobile view */
    }
}




